In [21]:
import pandas as pd
import os
import csv

In [23]:
DATA_FOLDER = os.path.join(os.getcwd(), 'dane')

# Przygotowanie cen żywności

In [74]:
data = pd.read_csv(os.path.join(DATA_FOLDER, 'Zywnosc.csv'), sep=';')
COLUMNS = ['nazwa_pozycja_2', 'opis_okres', 'wartosc']
data = data[COLUMNS]

In [75]:
data.head()

                            nazwa_pozycja_2 opis_okres  wartosc
0             chleb pszenno-żytni za 0.5 kg   2020 M03     2.86
1                      mąka pszenna za 1 kg   2020 M03     2.95
2                kasza jęczmienna za 0.5 kg   2020 M03     2.44
3   mięso wołowe z kością (rostbef) za 1 kg   2020 M03    29.21
4  mięso wołowe bez kości (z udźca) za 1 kg   2020 M03    34.55

In [81]:
average_data = data.groupby(['opis_okres'])['wartosc'].mean()
average_data = average_data.reset_index()

In [85]:
# Posortuj wartości w kolumnie 'opis_okres' rosnąco
inflation = average_data.sort_values(by='opis_okres', ascending=True)

# Zapisz posortowane wartości w tabeli
my_inflation_list = list(inflation['wartosc'])

# zapisz tabele w pliku (najpierw konwersja na punkty inflacyjne)
with open(os.path.join(DATA_FOLDER, 'Wlasna_Inflacja_table.txt'), 'w', encoding='utf-8') as file:
    prev_value = my_inflation_list[0]
    for value in my_inflation_list[1:]:
        file.write(f'{value / prev_value * 100:.1f}\n')
        prev_value = value

# Przygotowanie inflacji

In [61]:
with open(os.path.join(DATA_FOLDER, 'Inflacja_parsed.csv'), 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file, delimiter=',')
    
    # Przekształcanie DictReader do listy słowników
    ## Usuniecie okresów 2020 M1, M2 i M3 - bo nie ma danych żywności w tym czasie
    data = [row for row in reader if row['opis_okres'] not in ['2020 M01', '2020 M02', '2020 M03']]

# Tworzenie DataFrame z listy słowników
inflation = pd.DataFrame(data)

In [62]:
inflation.head()

  opis_okres wartosc
0   2023 M01   102.5
1   2023 M02   103.8
2   2023 M03   104.9
3   2023 M04   105.7
4   2023 M05   105.7

In [72]:
# Posortuj wartości w kolumnie 'opis_okres' rosnąco
inflation = inflation.sort_values(by='opis_okres', ascending=True)

# Zapisz posortowane wartości w tabeli
official_inflation_list = list(inflation['wartosc'])

# zapisz tabele w pliku
with open(os.path.join(DATA_FOLDER, 'Oficjalna_Inflacja_table.txt'), 'w', encoding='utf-8') as file:
    for value in official_inflation_list:
        file.write(f'{value}\n')